/* CSS RESET */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/* GLOBAL CSS */
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    border-radius: 10px;
    border-style: solid;
    border-color: white;
}
h1 h2 h3 h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    font-family: 'Times New Roman', Times, serif;
}
.sections{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.w-80{
    width: 80%;
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;

}
/* HEADER  */
header{
    background-color: #030915;
    display: flex;
    height: 90px;
    justify-content: center;
    text-align: center;
    position: relative;
    flex-wrap: wrap;
}
.header-div{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.logo{
    position: absolute;
    top: -13px;
    left: -30px;
    width: 150px;
    height: 150px;
    width: 200px;
    z-index: 30;
}
nav ul,a{
    font-size: 24px;
    display: flex;
    flex-wrap: wrap;
    color: white;
    gap: 2rem;
}
.hamburger{
    display: none;
}
/* SECTION-1  */
#section-1{
    background-color: #030915;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.section-1-content{
    background-color: transparent;
    width: 500px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 20;
}
.section-1-content h1{
    font-size: 96px;
    color: white;
}
.section-1-content p{
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 27px;
    color: white;
}
.button-1{
    width: 300px;
    height: 90px;
    color: white;
    font-size: 24px;
    padding: 15px 30px;
    background-color: transparent;
    margin-bottom: 200px;
}
.section-1-img{
    width: 902px;
    position: absolute;
    bottom: -150px;
    right: -100px;
    z-index: 99;
}
/* CIRCLES */
.circle-div{
    display: flex;
}
.circle-1{
    display: flex;
    height: 500px;
    position: absolute;
    bottom: 0px;
    right: -128px;
}
.circle-2{
    display: flex;
    height: 240px;
    width: 300px;
    position: absolute;
    top: -90px;
    left: -135px;
}
.circle-3{
    display: flex;
    height: 100px;
    position: absolute;
    left: -20px;
    bottom: 50px;
}
.circle-4{
    display: flex;
    height: 50px;
    position: absolute;
    top: 0;
    right: 360px;
}
/* SECTION-2 */
#section-2{
    display: grid;

}
.grid-div{
    width: 100%;
    margin-top: 90px;
    grid-template-columns: repeat(5,1fr);
    gap: 30px;
    text-align: center;
}
.car-div{
    border: solid;
    border-color: #D9D9D9;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}
/* SECTION-3  */
.section-3-div{
    flex-direction: column;
    flex-wrap: wrap;
}
.section-3-div h1{
    font-size: 64px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 30px;
}
.modal-ul{
    color: #030915;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}
.modal-a{
    color: #030915;
}
.hamburger-2{
    display: none;
}
.line-div{
    width: 100%;
    height: 1px;
    background-color: #0E317D66;
    margin-top: 10px;
    margin-bottom: 50px;
}
.section-3-car{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 300px;
    background-image: url(./assets/Rectangle\ 54.png);
    margin-bottom: 10px;
}
.section-3-car-content{
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 231px;
    justify-content: center;
    font-size: 30px;
    margin-left: 40px;
    margin-top: 30px;
}
.rolls-royce img{
    position: absolute;
    width: 600px;
    right: 130px;
    bottom: -20px;
}
.button-2{
    width: 200px;
    margin-top: 30px;
    color: white;
    font-size: 20px;
    padding: 10px 30px;
    border-color: white;
    background-color: transparent;
}
/* SMALLS CARS  */
#small-car-section{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
#small-car-section div{
    background-color: #212838;
    border-radius: 15px;
    margin-top: 10px;

}
.car-div-content{
    color: white;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
/* SECTION-4  */
 .section-4{
    max-width: 100vw;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
 .section-4 h1{
    font-size: 64px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 50px;
}
.section-4-div{
    margin-bottom: 160px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
      "card1 card1 card2 card2 card2"
      "card3 card3 card3 card4 card4";
    gap: 20px; 
}
 .section-4-card1{
    grid-area: card1;
}
.section-4-img1{
    grid-area: card2;
}
.section-4-img2 {
    grid-area: card3;
}
.section-4-card2{
    grid-area: card4;
} 
.text-card{
    font-size: 20px;
    padding: 20px;
    background-color: #161C28;
    color: white;
    width: 455px;
    border-radius: 15px;
}
.text-card h2{
    margin-bottom: 15px;
}
.text-card p{
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 10px;
}
.img-card img{
    width: 645px;
    height: 487px;
    object-fit: cover;
    display: block;
    border-radius: 15px;
}
/* FOOTER  */
.footer{
    background-color: #030915;
}
.footer-div{
    margin-bottom: 30px;
    margin-top: 30px;
}
.footer-links-div{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    flex-wrap: wrap;
    align-items: center;
}
.footer-links-div ul{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.footer-info-div{
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
}

/* MOBLE-STYLING */
@media (max-width:580px){
    /* SECTION-1  */
    .w-80{
        text-align: center;
        align-items: center;
    }
    .section-1-img{
        width: 350px;
        position: absolute;
        right: -15px;
        bottom: -60px;
    }
    .circle-1{
        height: 150px;
        position: absolute;
        right: -40px;
    }
    .circle-2{
        height: 160px;
        width: 270px;
    }
    
    .button-1{
    width: 200px;
    height: 100px;
    margin-left: 50px;
    margin-right: 50px;
    }
    .links{
    display: none;
    }
    .hamburger{
    display: block;
    cursor: pointer;
    width: 60px;
    color: white;
    }
    /* SECTION-2 MOBILE  */
    .grid-div{
        display: flex;
        justify-content: center; 
    }
    /* SECTION-3  */
    .section-3-div h1{
        text-align: center;
        font-size: 50px;
    }
    .section-3-car-content{
        font-size: 14px;
        position: absolute;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .rolls-royce img{
        width: 250px;
        position: absolute;
        left: 40px;
        bottom: 5px;
    }
    #small-car-section{
        grid-template-columns:1fr;
        width: 100%;
    }
    .small-car-img{
        width: 100%;
        
    }
    /* SECTION-4  */
    .section-4-div{
        width: 377px;
        margin-bottom: 160px;
        grid-template-rows:1fr 1fr;
        grid-template-areas: 
        "card1"
        "card2"
        "card4"
        "card3";
    }
    .section-4{
        padding-left: 0%;
        padding-right: 0%;
        display: flex;
    flex-direction: column;
    justify-content: center;
    }
    .section-4 h1{
        font-size: 50px;
    }
    .text-card{
    font-size: 17px;
    width: 100%;
    height: 487px;
    }
    .img-card{
        width: 377px;
    }
    .img-card img{
        width: 100%;
        height: 487px;
    }
    /* FOOTER  */
    .footer-div{
        flex-direction: column;
    }
    .footer-links-div{
        margin: 0%;
        margin-bottom: 40px;
    }
    .footer-links-div ul{
        flex-direction: column;
    }
}    
    /* TABLET-STYLING */
    @media(min-width:580px) and (max-width:1200px){
        /* SECTION-1  */
        .section-1-img{
        width: 500px;
        left: -60px;
        bottom: -100px;
    }
    .circle-1{
        height: 200px;
        right: -60px;
    }

    .hamburger{
        display: none;
    }
    .grid-div{
        display: flex;
        justify-content: center;
    }
    .section-1-car-div{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    /* SECTION-3  */
    .rolls-royce img{
        position: absolute;
        width: 370px;
        right: 100px;
        bottom: 10px;
    }
    .section-3-car-content{
        font-size: 20px;
        position: absolute;
        margin-top: 0%;
    }
    .button-2{
        width: 200px;
        height: 50px;
        font-size: 15px;
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
     #small-car-section{
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    }
    .small-car-img{
        width: 100%;
    }
    /* SECTION-4  */
    .section-4-div{
        margin-bottom: 160px;
        width: 550px;
    grid-template-rows:1fr 1fr;
    grid-template-areas: 
        "card1"
        "card2"
        "card4"
        "card3";
    }
    .section-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
    .text-card{
    font-size: 17px;
    width: 100%;
    height: 487px;
    }
    .img-card{
    width: 550px;
    }
    .img-card img{
    width: 100%;
    height: 487px;
    }
    /* FOOTER  */
    .footer-div{
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .footer-links-div{
        margin: 0px 40px;
        margin-bottom: 30px;
    }
}
